 @media only screen and (min-width: 280px) and (max-width: 420px){
   
    #home{
        flex-direction: column;
       
     }
     .leftSection{
        padding: 2px;
        margin: 15px 35px;
        height: 306px;
        width: 245px;
         
        justify-content: center;
        align-items: center;
     }

     .rightSection{
        padding: 2px;
        height: 100%;
        width: 100%;
        align-items: center;
         
        justify-content: center;
        align-items: center;
     }
     #service::before{
             height: 1132px;
             opacity: 0.4;
     }
     
     #service .box{
        /* border: 2px solid red;  */
        padding: 2px;
        margin: 15px 35px;
        height: 306px;
        width: 245px;
         
        justify-content: center;
        align-items: center;
         
     }
     /* .rightSection img{
        height: 100%;
        width: 100%;
        display: block;
        margin-left: 200px;
        text-align: center;
         
     } */
    
 }